<div style="float:right; margin:0;"><a href="http://pt.afl.rakuten.co.jp/c/0069f7de.b680e874/?url=http%3a%2f%2fwww.rakuten.co.jp%2f" target="raxearch"><img src="http://ba.afl.rakuten.co.jp/b/0069f7de.b680e874/" width="88" height="31" border="0" /></a><br clear="all" /></div>
<div class="content">
<h3><{$smarty.const._MD_RAXEARCH_TITLE}></h3>

<form action="<{$xoops_url}>/modules/<{$mydirname}>/index.php" style="margin-left:24px;">
<{$smarty.const._MD_RAXEARCH_KEYWORD}><{$smarty.const._MD_RAXEARCH_COLON}><input type="text" name="keyword" value="<{$keyword}>" size="48" />
<{$smarty.const._MD_RAXEARCH_PRICE_RANGE}><{$smarty.const._MD_RAXEARCH_COLON}><input type="text" name="minPrice" value="<{$minPrice}>" size="6" /><{$smarty.const._MD_RAXEARCH_WAVE_DASH}><input type="text" name="maxPrice" value="<{$maxPrice}>" size="6" />
<input type="hidden" name="op" value="item" />
<input type="submit" value="<{$smarty.const._MD_RAXEARCH_SUBMIT}>" />
</form>


<{$smarty.const._MD_RAXEARCH_NOTICE}>

<div style="float:right; font-size:xx-small;"><a href="http://xoops.taquino.net/" target="_top">-- &copy;2009 raxearch Module by Taq --</a></div>

</div>